[Desktop Entry]
Type=Application
Version=1.0
Name=Roboticus Data Visualiser
Comment=Data visualisation for microcontrollers
Exec=appRoboticus_Data_Visualiser
Icon=com.roboticus.DataVisualiser
StartupWMClass=com.roboticus.DataVisualiser
Categories=Development;
Terminal=false
StartupNotify=true
Keywords=data;visualisation;roboticus;sensors;vectors;graphs;
MimeType=application/x-roboticus-data;
