[Desktop Entry]
Name=Roboticus Data Visualiser
Comment=Roboticus Data Visualiser
Exec=appRoboticus_Data_Visualiser
Icon=com.roboticus.datavisualiser
Type=Application
Categories=Utility;
