[Desktop Entry]
Name=Roboticus Data Visualiser
Comment=Roboticus Data Visualiser
Exec=appRoboticus_Data_Visualiser
Icon=icon
Type=Application
Categories=Utility;
